@import "tailwindcss";
@theme {
  --color-primary: #1F1F27;
  --color-secondary: #3B3B3E;
  --color-auxiliar: #19191C;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.web-account-menu-item {
  @apply inline-flex p-1 gap-2 w-full items-center font-semibold rounded cursor-pointer
}